/ESTRUCTURAS DE DATOS/Ejercicio1/nbproject/private/
/ESTRUCTURAS DE DATOS/Ej1/nbproject/private/
/ESTRUCTURAS DE DATOS/Ej1/build/
/ESTRUCTURAS DE DATOS/palindromo1/nbproject/private/
/ESTRUCTURAS DE DATOS/palindromo1/build/
/ESTRUCTURAS DE DATOS/Archivos1/nbproject/private/
/ESTRUCTURAS DE DATOS/Archivos/nbproject/private/
/ESTRUCTURAS DE DATOS/Archivos/build/
/ESTRUCTURAS DE DATOS/palindromo2/nbproject/private/
/ESTRUCTURAS DE DATOS/palindromo2/build/
